/* === BASE RULES === */
body {
  font-size: 100%;
  color: #313131;
  margin: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #024f93;
  color: white;
  text-align: center;
}
/*Starts the css for the drop down menu*/
li a, .dropbtn {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown-content {
  margin-top: -25px;
  margin-left: 120px;
  display: none;
  position: absolute;
  background-color: #024f93;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #00aeef 
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* === FLOATING AND CLEARFIX === */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* === OVERALL MODULE RULES === */
body > header {
  background: #024f93;
}
nav {
  padding: 34px;
}
nav ul {
  margin-top:40px;
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
  background-color: #114968;
}
nav:hover ul {
  display: block;
}
nav li {
  font-size: 1.25em;
  padding: .4em .15em;
  border-bottom: 1px solid #00aeef;
}
/* === LINK STYLES === */
a:link {
  color: #ffffff;
}
a:visited {
  color: #fff;
}
a:active {
  color: #00aeef;
}
a:focus {
  color: #00aeef;
}
a:hover {
  color: #fff;
}
/* === ICON FONT === */
.icon-menu {
  font-size: 3em;
  float: left;
}
.icon-menu img {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* === MEDIA QUERY === */
@media only screen and (min-width: 500px) {
  .icon-menu {
      display: none;
 }
 .heading-group-h1{
  display: none;
 }
  nav {
      position: fixed;
      left: 0;
      top: 0;
      background-color: #024f93;
      color: white;
      width: 100%;
 }
  nav ul {
      margin-top:0px;
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      display: block;
 }
  nav ul li {
      display: inline;
      border-bottom: none;
 }
  nav ul li:hover a {
      color: white;
 }
}
.heading-group-h1 img{
 position: fixed;
 right:0;
 top:0;   
}
