/* Base Css --------------------------------------------------*/
body {
	background-color: #00aeef;
	margin: 0;
	font-family: Arial;
	font-family: "Roboto", sans-serif;
	z-index: 0;
}
a:link {
	color: #ffffff;
}
a:visited {
	color: #fff;
}
a:active {
	color: #00aeef;
}
a:focus {
	color: #00aeef;
}
a:hover {
	color: #00aeef;
}
.colorBlue {
 background-color: blue;
}
/*/
///////////////////////////////////////////////////////////////////////////////////////////////////
/*/
/* This CSS page is for page modual css */
/*/
///////////////////////////////////////////////////////////////////////////////////////////////////
/*/
/*Starts the css for the drop down menu*/
li a, .dropbtn {
}
li a:hover, .dropdown:hover .dropbtn {
	background-color: #114968;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
/*This makes the link text color black in drop down link menu*/
.dropdown-content a {
	color: black;
}
/*displays the link menu back ground color of the selected link on hover darker grey than the menu background*/
.dropdown-content a:hover {
	background-color: #00aeef 
}
/*displays the link menu when you hover on link*/
.dropdown:hover .dropdown-content {
	display: block;
}
/* Layout Css ------------------------------------------------- */
/* Layout Css */
/* Layout Css --------------------------------------------------004b87*/
.clearfix {
	clear: both;
	overflow: hidden;
}
body > header {
	background-color: #024f93;
	position: relative;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #024f93;
	color: white;
	text-align: center;
}
/*/
///////////////////////////////////////////////////////////////////////////////////////////////////
/*/
/* This runs the css header to slide up until the nav is in a fixed position */
/*/
///////////////////////////////////////////////////////////////////////////////////////////////////
/*/
.kirkWoodHeader {
	position: fixed;
	width: 100%;
	background-color: #024f93;
	border-bottom: 3px #00aeef solid;
 /*left: 0;
	top: 0;
	text-align: center;
	background: #004b87;
	*/
 /* padding: 30px;
	Makes Icon visable */
}
/* Module Css ------------------------------------------------- */
/* Module Css */
/* Module Css --------------------------------------------------*/
.icon-menu {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 2em;
	z-index: 1;
}
/* Use of checkbox came from https://codepen.io/erikterwan/pen/EVzeRP?editors=1100 */
.icon-menu + input {
	width: 2.5em;
	height: 2.25em;
	position: absolute;
	top: 12px;
	left: 7px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
}
.icon-menu + input:checked ~ ul {
	margin-left: 0px;
	margin-bottom: 0px;
}
nav {
	padding: 30px;
 /* background-image: url("./images/circle_logo.jpg");
	*/
	background-repeat:no-repeat;
	background-position: right;
}
nav ul {
	margin-top:30px;
 /* margin-left: -200px;
	*/
	margin-bottom: -350px;
	padding: 0;
}
nav ul li {
	background-color: #114968;
	list-style: none;
	border-bottom: 1px solid #00aeef;
}
nav ul li a {
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}
@media only screen and (min-width: 790px) {
	.icon-menu {
			display: none;
 }
	.icon-menu + input {
			display: none;
 }
	nav ul {
			background-color: #114968;
			margin-top: 0px;
 }
	nav ul li {
			display: inline-block;
			border: none;
 }
	nav ul li a {
			padding: 10px 20px 10px 0px;
 }
	.kirkWoodHeader {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			background-color: #024f93;
			border-bottom: none;
		 /* text-align: center;
			*/
		 /* padding: 30px;
			Makes Icon visable */
 }
}
