/* main header div, main header div a {
  color: #777777;
}

main header div a {
  text-decoration: none;
}

main header div address {
  display: inline;
  font-weight: bold;
  font-style: italic;
} */
nav {
  box-sizing: border-box;
	background-image: url("../images/kirkwood.png");
	background-repeat:no-repeat;
  background-position: right; 
  background-color: #004b87;
} 

.icon-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  z-index: 1;
}

/* Use of checkbox came from https://codepen.io/erikterwan/pen/EVzeRP?editors=1100 */
.icon-menu + input {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}


nav ul {
  margin-left: -200px;
  margin-bottom: -275px;
  padding: 0;
}

.icon-menu + input:checked ~ ul {
  margin-left: 0px;
  margin-bottom: 0px;
}

nav ul li {
  list-style: none;
  border-bottom: 1px solid #00aeef;
}

nav ul li a {
  color: #777777;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
  /* padding: 10px 0;     Space between the anchors */
}

@media only screen and (min-width: 790px) {
  .icon-menu {
    display: none;
  } 

  .icon-menu + input {
    display: none;
  }

  nav ul {
    margin-left: 0px;
    margin-bottom: 0px;
  }

  nav ul li {
    display: inline-block;
    border: none;
  }

   nav ul li a {
    padding: 10px 20px 10px 0px;
  }
}

.template, .draft {

  display: none;
}



